<div class="strib-styles ssa ssb ssc">
  <section class="container-lg">
    <div class="tease">
      <p>The Star Tribune and Minnesota Public Radio News polled 800 Minnesota likely voters between Sept. 10 and Sept. 12, on a number of topics, including whether President Trump should be impeached, and how they view their vote in the upcoming midterm elections. Highlights from those questions are below. Scroll down the page to see details about how the poll was conducted and the demographics of the 800 respondents.</p>
      <div class="tease-related">
        <ul class="tease-list">
          <li class="tease-list-item related-icn-article" style="margin-left:0">
            <a class="tease-list-item-link" href="http://www.startribune.com/xxx/">Sept. 21 poll analysis</a>
          </li>
          <li class="tease-list-item related-icn-article">
            <a class="tease-list-item-link" href="http://www.startribune.com/468458743/">Previous poll results</a>
          </li>
          <li class="tease-list-item related-icn-article">
            <a class="tease-list-item-link" href="#methodology">Methodology</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="question one">
      <div class="question-block">
        <!-- <img src="http://stmedia.startribune.com/images/mnPoll_icon.png"> -->
        <h2>Do you believe President Trump should or should not be impeached and removed from office?</h2></div>
      <table class="stacked-bar-graph day6ca">
        <tr>
          <td class="one label">Should</td>
          <td class="two label">Should not</td>
          <td class="three label">Not sure</td>
        </tr>
        <tr>
          <td class="one bar-1">36%</td>
          <td class="two bar-2">49%</td>
          <td class="three bar-3">15%</td>
        </tr>
      </table>
      <table class="mnPoll">
        <thead>
          <tr>
            <th></th>
            <th>Should</th>
            <th>Should not</th>
            <th>Not sure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Men</th>
            <td>31%</td>
            <td>54%</td>
            <td>15%</td>
          </tr>
          <tr class="last-line">
            <th scope="row">Women</th>
            <td>29</td>
            <td>47</td>
            <td>24</td>
          </tr>
          <tr>
            <th scope="row">Democrats</th>
            <td>67</td>
            <td>14</td>
            <td>19</td>
          </tr>
          <tr>
            <th scope="row">Republicans</th>
            <td>4</td>
            <td>94</td>
            <td>2</td>
          </tr>
          <tr class="last-line">
            <th scope="row">Independents / other</th>
            <td>29</td>
            <td>47</td>
            <td>24</td>
          </tr>
          <tr>
            <th scope="row">18-34</th>
            <td>48</td>
            <td>34</td>
            <td>18</td>
          </tr>
          <tr>
            <th scope="row">35-49</th>
            <td>31</td>
            <td>48</td>
            <td>21</td>
          </tr>
          <tr>
            <th scope="row">50-64</th>
            <td>33</td>
            <td>58</td>
            <td>9</td>
          </tr>
          <tr class="last-line">
            <th scope="row">65+</th>
            <td>34</td>
            <td>51</td>
            <td>15</td>
          </tr>
          <tr>
            <th scope="row">Under $50,000</th>
            <td>37</td>
            <td>50</td>
            <td>13</td>
          </tr>
          <tr class="last-line">
            <th scope="row">$50,000 and over</th>
            <td>34</td>
            <td>52</td>
            <td>14</td>
          </tr>
          <tr>
            <th scope="row">Hennepin / Ramsey</th>
            <td>42</td>
            <td>41</td>
            <td>17</td>
          </tr>
          <tr>
            <th scope="row">Metro Suburbs</th>
            <td>31</td>
            <td>55</td>
            <td>14</td>
          </tr>
          <tr>
            <th scope="row">Southern Minn.</th>
            <td>33</td>
            <td>48</td>
            <td>19</td>
          </tr>
          <tr class="last-line">
            <th scope="row">Northern Minn.</th>
            <td>33</td>
            <td>56</td>
            <td>11</td>
          </tr>
          <tr>
            <th scope="row">Trump voters</th>
            <td>5</td>
            <td>91</td>
            <td>4</td>
          </tr>
          <tr>
            <th scope="row">Clinton voters</th>
            <td>66</td>
            <td>12</td>
            <td>22</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="question two">
      <div class="question-block">
        <!-- <img src="http://stmedia.startribune.com/images/mnPoll_icon.png"> -->
        <h2>Which of the following three statements comes closest to your view?</h2>
        <ul class="day6">
          <li>I want my vote in November to <b>support</b> the direction President Trump is leading the nation.</li>
<li>I want my vote in November to <b>change</b> the direction President Trump is leading the nation.</li>
<li>My vote this November <b>doesn’t have much to do</b> with President Trump and his policies.</li>
</ul>
      </div>
      <table class="stacked-bar-graph day6cb">
        <tr>
          <td class="one label">Support</td>
          <td class="two label">Change</td>
          <td class="three label">Nothing to do</td>
          <td class="four label">Not sure</td>
        </tr>
        <tr>
          <td class="one bar-1">29%</td>
          <td class="two bar-2">43%</td>
          <td class="three bar-3">27%</td>
          <td class="four bar-4">1%</td>
        </tr>
      </table>
      <table class="mnPoll">
        <thead>
          <tr>
            <th></th>
            <th>Support</th>
            <th>Change</th>
            <th>Nothing to do</th>
            <th>Not sure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Men</th>
            <td>32%</td>
            <td>39%</td>
            <td>28%</td>
            <td>1%</td>
          </tr>
          <tr class="last-line">
            <th scope="row">Women</th>
            <td>26</td>
            <td>47</td>
            <td>26</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">Democrats</th>
            <td>1</td>
            <td>83</td>
            <td>15</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">Republicans</th>
            <td>74</td>
            <td>1</td>
            <td>24</td>
            <td>1</td>
          </tr>
          <tr class="last-line">
            <th scope="row">Independents / other</th>
            <td>18</td>
            <td>38</td>
            <td>43</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">18-34</th>
            <td>15</td>
            <td>61</td>
            <td>24</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">35-49</th>
            <td>28</td>
            <td>44</td>
            <td>28</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">50-64</th>
            <td>33</td>
            <td>27</td>
            <td>29</td>
            <td>1</td>
          </tr>
          <tr class="last-line">
            <th scope="row">65+</th>
            <td>34</td>
            <td>38</td>
            <td>27</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">Under $50,000</th>
            <td>33</td>
            <td>40</td>
            <td>26</td>
            <td>1</td>
          </tr>
          <tr class="last-line">
            <th scope="row">$50,000 and over</th>
            <td>29</td>
            <td>42</td>
            <td>28</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">Hennepin / Ramsey</th>
            <td>21</td>
            <td>52</td>
            <td>25</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">Metro Suburbs</th>
            <td>33</td>
            <td>39</td>
            <td>28</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">Southern Minn.</th>
            <td>31</td>
            <td>42</td>
            <td>27</td>
            <td>0</td>
          </tr>
          <tr class="last-line">
            <th scope="row">Northern Minn.</th>
            <td>34</td>
            <td>37</td>
            <td>28</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">Trump voters</th>
            <td>66</td>
            <td>2</td>
            <td>31</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">Clinton voters</th>
            <td>1</td>
            <td>83</td>
            <td>15</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
    <a name="methodology"></a>
    <div class="methodology">
      <h4>About the poll</h4>
      <p>This Star Tribune/MPR News Minnesota Poll findings are based on interviews conducted Sept. 10-12 with 800 Minnesota likely voters. The interviews were conducted via land line (60 percent) and cellphone (40 percent). The poll was conducted for the Star Tribune and Minnesota Public Radio News by Mason-Dixon Polling and Research Inc. Results of a poll based on 800 interviews will vary by no more than 3.5 percentage points, plus or minus, from the overall population 95 times out of 100. Margins are larger for groups within the sample, such as Democrats and Republicans, and age groups.</p>
      <p>The self-identified party affiliation of the respondents is 37 percent Democrats, 31 percent Republicans and 32 percent independents or other.</p>
      <p>Sampling error does not take into account other sources of variation inherent in public opinion surveys, such as nonresponse, question wording or context effects. In addition, news events may have affected opinions during the period the poll was taken.</p>
      <p>Readers can e-mail questions to <a href="mailto:djmcgrath@startribune.com">djmcgrath@startribune.com</a>.
      </p>
      <h4 class="demogo">Demographic breakdown of this polling sample</h4>
      <div class="methodology-table">
        <table class="mnPoll methodology">
          <tbody>
            <tr>
              <th class="label" colspan="3">PARTY</th>
            </tr>
            <tr>
              <th scope="row">DFL/Democrat</th>
              <td>299</td>
              <td>(37%)</td>
            </tr>
            <tr>
              <th scope="row">Republican</th>
              <td>246</td>
              <td>(31%)</td>
            </tr>
            <tr>
              <th scope="row">Independent/Other</th>
              <td>255</td>
              <td>(32%)</td>
            </tr>
            <tr>
              <th class="label" colspan="3">AGE</th>
            </tr>
            <tr>
              <th scope="row">18-34</th>
              <td>152</td>
              <td>(19%)</td>
            </tr>
            <tr>
              <th scope="row">35-49</th>
              <td>200</td>
              <td>(25%)</td>
            </tr>
            <tr>
              <th scope="row">50-64</th>
              <td>226</td>
              <td>(28%)</td>
            </tr>
            <tr>
              <th scope="row">65+</th>
              <td>216 </td>
              <td>(27%)</td>
            </tr>
            <tr>
              <th scope="row">Refused</th>
              <td>6</td>
              <td>(1%)</td>
            </tr>
            <tr>
              <th class="label" colspan="3">GENDER</th>
            </tr>
            <tr>
              <th scope="row">Male</th>
              <td>377 </td>
              <td>(47%)</td>
            </tr>
            <tr>
              <th scope="row">Female</th>
              <td>423 </td>
              <td>(53%)</td>
            </tr>
          </tbody>
        </table>
        <table class="mnPoll methodology right">
          <tbody>
            <tr>
              <th class="label" colspan="3">INCOME</th>
            </tr>
            <tr>
              <th scope="row">&lt; $25,000</th>
              <td>84</td>
              <td>(10%)</td>
            </tr>
            <tr>
              <th scope="row">$25,000-$49,999</th>
              <td>127</td>
              <td>(16%)</td>
            </tr>
            <tr>
              <th scope="row">$50,000-$74,999</th>
              <td>130</td>
              <td>(16%)</td>
            </tr>
            <tr>
              <th scope="row">$75,000-$99,999</th>
              <td>121</td>
              <td>(15%)</td>
            </tr>
            <tr>
              <th scope="row">$100,000+</th>
              <td>125</td>
              <td>(16%)</td>
            </tr>
            <tr>
              <th scope="row">Refused</th>
              <td>213</td>
              <td>(27%)</td>
            </tr>
            <tr>
              <th class="label" colspan="3">REGION</th>
            </tr>
            <tr>
              <th scope="row">Hennepin/Ramsey</th>
              <td>255 </td>
              <td>(32%)</td>
            </tr>
            <tr>
              <th scope="row">Metro Suburbs</th>
              <td>230 </td>
              <td>(29%)</td>
            </tr>
            <tr>
              <th scope="row">Southern Minnesota</th>
              <td>160 </td>
              <td>(20%)</td>
            </tr>
            <tr>
              <th scope="row">Northern Minnesota</th>
              <td>155 </td>
              <td>(19%)</td>
            </tr>
            <tr>
              <th class="label" colspan="3">INTERVIEW </th>
            </tr>
            <tr>
              <th scope="row">Land-line</th>
              <td>483</td>
              <td>(60%)</td>
            </tr>
            <tr>
              <th scope="row">Cell Phone</th>
              <td>317</td>
              <td>(40%)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
