<div class="strib-styles ssa ssb ssc">
  <section class="container-lg" style="width:520px;">
    <p>The Star Tribune and Minnesota Public Radio polled Minnesota registered voters between Jan. 8 and Jan. 10. Highlights from questions about gun control are below. Scroll down the page to see details about how the poll was conducted and the demographics of the 800 respondents.</p>
    <div class="stacked-bar-graph">
      <span style="width:56%" class="bar-1">56% support</span>
      <span style="width:36%" class="bar-2">36% oppose</span>
      <span style="width:7%" class="bar-3">7%</span>
    </div>
    <div class="mnPoll" data-example-id="">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Support</th>
            <th>Oppose</th>
            <th>Not sure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Men</th>
            <td>46%</td>
            <td>47%</td>
            <td>7%</td>
          </tr>
          <tr class="lastLine">
            <th scope="row">Women</th>
            <td>72</td>
            <td>15</td>
            <td>13</td>
          </tr>
          <tr>
            <th scope="row">Democrats</th>
            <td>91</td>
            <td>7</td>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row">Republicans</th>
            <td>34</td>
            <td>51</td>
            <td>15</td>
          </tr>
          <tr class="lastLine">
            <th scope="row">Independents / other</th>
            <td>48</td>
            <td>38</td>
            <td>14</td>
          </tr>
          <tr>
            <th scope="row">Under 50</th>
            <td>46</td>
            <td>47</td>
            <td>7</td>
          </tr>
          <tr class="lastLine">
            <th scope="row">50 and over</th>
            <td>72</td>
            <td>15</td>
            <td>13</td>
          </tr>
          <tr>
            <th scope="row">Under $50,000</th>
            <td>46</td>
            <td>47</td>
            <td>7</td>
          </tr>
         <tr class="lastLine">
            <th scope="row">$50,000 and over</th>
            <td>72</td>
            <td>15</td>
            <td>13</td>
          </tr>
          <tr>
            <th scope="row">Hennepin / Ramsey</th>
            <td>91</td>
            <td>7</td>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row">Rest of T.C. suburbs</th>
            <td>34</td>
            <td>51</td>
            <td>15</td>
          </tr>
          <tr class="lastLine">
            <th scope="row">Rest of state</th>
            <td>48</td>
            <td>43</td>
            <td>9</td>
          </tr>
          <tr>
            <th scope="row">H.S. grad / some college</th>
            <td>58</td>
            <td>33</td>
            <td>9</td>
          </tr>
          <tr class="lastLine">
            <th scope="row">College grad</th>
            <td>60</td>
            <td>29</td>
            <td>11</td>
          </tr>
          <tr>
            <th scope="row">Gun in household</th>
            <td>44</td>
            <td>47</td>
            <td>9</td>
          </tr>
          <tr>
            <th scope="row">No gun in household</th>
            <td>78</td>
            <td>11</td>
            <td>11</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
